section {
    overflow: unset!important;
}
.product-summary .product-title {
    font-size: 20px!important;
}
.product-summary .product-price {
    color: #106572!important;
}
.cart-section .btn-theme {
    color: var(--themeTextColor)!important;
    background-color: #fff!important;
    border: 1px solid var(--themeBorderColor)!important;
}
.cart-section .btn-theme:hover {
    color: #fff!important;
    background-color: var(--themeColor)!important;
    border-color: var(--themeColor)!important;
}
.grid-sidebar .grid-sidebar-inner .content-wrapper:not(:first-child) {
    background-color: #f5f5f5;
    border-radius: var(--themeBorderRadius);
    padding: 20px!important;
    margin-top: 20px;
}
.theme-tab-content .content-wrapper.pt-0{
    padding-top: 20px!important;
}
.text-area textarea,
.design-listing,
.color-area,
.theme-dropdown .theme-dropdown-btn,
.product-attribute-wrap .product-attribute .option-item .option-link,
.theme-dropdown .theme-dropdown-btn, .theme-dropdown .theme-dropdown-menu,
.product-size-row .product-size-col .product-size-link .product-price .form-control {
    background-color: #fff!important;
}
.product-size-row .product-size-col .product-size-link .product-size:before {
    background-color: #fff!important;
    opacity: 1!important;
}
:root {
    --themeBorderWidth: 0px!important;
}
.product-size-row .product-size-col .product-size-link .product-size span {
    z-index: 1;
}
.design-listing {
    padding: 20px!important;
}
.color-area{
    border: 0!important;
}
#fbtg_pp_ibptbm, #mc-loader{
  display: none!important;
}